<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MasCanarias"></activity>
        <activity android:name=".Registro" />
        <activity android:name=".Go" />
        <activity android:name=".InfoIbiza" />
        <activity android:name=".Ibiza" />
        <activity android:name=".Granada" />
        <activity android:name=".Asturias" />
        <activity android:name=".Canarias" />
        <activity android:name=".Madrid" />
        <activity android:name=".Ciudades" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>